{% extends 'base.html.twig' %}

{% block title %}
Détails de l'Item
{% endblock %}

{% block content %}
<h1>{{ items.nom }}</h1>
<p><strong>Description:</strong> {{ item.adescription }}</p>
<p><strong>Localisation:</strong> {{ item.localisation }}</p>
<p><strong>Type de matériel:</strong> {{ item.typeMateriel }}</p>
<img src="{{ item.image_url }}" alt="{{ item.nom }}" width="200" height="200" />
{% endblock %}
